body{
    background-color:white;
    margin:0;
    padding:0;
}



 

  
                       
               
                      
  h1 {
	margin-top:10px;
	font-size: 70px;
	letter-spacing: 6px;
	font-family:'helvetica';
    z-index: 99;
    color:white;
    background-color:#2C8EA5;
   margin-left: 155px;
   margin-right:155px;
}


h4 {
    color:#EA4F66;
}

h2 {
    padding: 35px 0px 15px 0px;
    color:#EA4F66;
}
p {color:white;}

.row {
    border: 5px solid white;
    margin-bottom: 30px;
    border-radius:7px;
    
	}
.gameimg {
	width: 50%;
	margin: 30px;
}

h3 {
	padding-bottom: 20px;
}
.column {
    padding-bottom: 30px;
    background-color:#F9B84F;
  
    
 
    
}
.logo {
	width: 30%;
}
.btn {
    margin-top: 20px;
    background-color: lightpink;
    border-color:white;
}



